body {
  background-color: #A8CCFF;
  }

#city{
  font-size: 34px;
  font-family: 'Roboto', sans-serif;
  position:absolute;
  margin-left:15px;
  margin-top:10px;
}
#temp {
/*  font-family: 'Anton', sans-serif; */
 font-family: 'Roboto', sans-serif;
 font-size: 120px !important;
 position:relative;
 color: #53187C;
 right:-190px;
 top:-100px;/*   margin: 0 1.5%; */
}
#image {
  position:relative;
  top:50px
  }
#hilow {
  position:relative;
  bottom:95px;
  left:10px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  
  }
#con {
    position:relative;
    bottom:100px;
    left:45px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
#locUnav {
  visibility: hidden;
  font-size: 40px;
  margin-top: -40px;
  margin-left: 20px;
}
#cel{
  cursor:pointer;
  pointer-events: none;
}
#far{
  cursor:pointer;
}
#app {
  text-align: left;
/*   display: block; */
  border-radius:5px;
  margin: 0 auto;
  height: 300px;
  width: 400px;
  margin-top: 60px;
  background-color: #9BFFD0
}