doctype html
html
  head
    title Weather App
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="style.css")
  header
  h1
    | Weather
  body
    div(class="buttons")
      div(class="switch")
        span Day/Night
        input(id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox")
        label(for="cmn-toggle-1")
      div(class="switch")
        span C/F
        input(id="cmn-toggle-7" class="cmn-toggle cmn-toggle-yes-no" type="checkbox")
        label(for="cmn-toggle-7" data-on="F°" data-off="C°")
    div(class="main")
      div(id="location") Location
      div(id="time") Time
      div(id="temp") 70°F
      div(id="img") img
      div(id="description") description
      div(id="forecast") forecast
    script(src="/client.js")