doctype html
html
  head
    title Weather App
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="style.css")
  header
  h1
    | Weather
  body
    div(class="main")
      div(id="location") Location
      div(id="time") Time
      div(id="temp") 70°F
      div(id="img") img
      div(id="description") description
      div(id="forecast") forecast
    script(src="/client.js")