* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700');

body {
  background-color: #d8d8d8;
  font-family: 'Crimson Text', serif;
}

h1 {
  color: #333333;
  text-align: center;
  margin-top: 100px;
  font-style: bold;
  font-size: 50px;
  margin-bottom: 80px;
}

.main {
  font-size: 0;
  width: 531px;
  height: 332px;
  border-radius: 2px;
  margin: 0 auto;
  /* position: relative; */
  background-color: #333333;
}

#location,
#time,
#temp,
#img,
#description,
#forecast {
  text-align: center;
  color: #ffffff;
}

#location {
  font-size: 40px;
}

#time {
  font-size: 22px;
  margin-top: 5px;
}

#temp {
  font-weight: bold;
  font-size: 90px;
  margin-top: 10px;
}

#img {
  background-color: white;
  width: 91px;
  height: 69px;
  margin: 0 auto;
  margin-top: 10px;
}

#description {
  font-size: 22px;
}

#forecast {
  margin: 0 auto;
  font-size: 14px;
  margin-top: 5px;
}
